<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/util 
      http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<!--读取单个配置文件 
	<util:properties id="settings" location="classpath:conf.properties" /> -->

<!-- 读取多个配置文件 -->
	<bean id="settings"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>classpath:conf.properties</value>
				<value>classpath:db.properties</value>
			</list>
		</property>
	</bean>


	<!-- 1.基于注解的配置 -->
	<context:component-scan base-package="com.dongwt.spring.ioc">
		<!-- 排除某些java类 -->
		<context:exclude-filter type="regex"
			expression="com.dongwt.spring.ioc.service.XmlService" />
	</context:component-scan>



	<!-- 2.基于xml的配置 -->
	<bean id="user" class="com.dongwt.spring.ioc.bean.User">
		<constructor-arg index="0" value="tom"></constructor-arg>
		<constructor-arg index="1" value="123456"></constructor-arg>
	</bean>

	<bean id="xmlService" class="com.dongwt.spring.ioc.service.XmlService"
		lazy-init="true" init-method="init" destroy-method="destory" scope="singleton">
		<property name="name" value="tom"></property>
		<property name="age" value="18"></property>
		<property name="user" ref="user"></property>
		<property name="sets">
			<set>
				<value>1</value>
				<value>2</value>
				<value>3</value>
			</set>
		</property>
		<property name="lists">
			<set>
				<value>4</value>
				<value>5</value>
				<value>6</value>
			</set>
		</property>
		<property name="maps">
			<map>
				<entry key="name" value="tom"></entry>
				<entry key="age" value="18"></entry>
			</map>
		</property>
	</bean>


</beans>